
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1, h2 {
    text-align: center;
}

.input-section, .result-section {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #f9f9f9;
}

label, input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

input, textarea, button {
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
}

.toggleContent {
    cursor: pointer;
    color: blue;
    display: inline-block;
}
