
body {
    font-family: Arial, sans-serif;
    background-color: #e1dfec;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
}

form, ul {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #fff;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

input, select, button {
    padding: 0.5em;
    font-size: 1em;
}
input { 
    max-width: 200px; 
}
button {
    background-color: #8888a8;
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

button:hover {
    background-color: #CCC;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5em;
}

ul li span {
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: 2em;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}
