<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>刪除</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>刪除</h1>
    <form action="<%= action %>" method="post">
        <label for="name">員工編號:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="content">員工姓名:</label>
        <input type="text" id="content" name="content" required>
        <br>
        <button type="submit">刪除</button>
    </form>
</body>
</html>
